<header id="header">
    <div class="content-section b-color">
        <nav class="row navbar d-flex">
            <div class="header-logo pointer">
                <a href="/trang-chu">
                    <img src="../../public/img/logo_page2.JPG" alt="" class="width-100 height-100">
                </a>
            </div>
            <ul class="navbar-list list-1">
                <li class="navbar-item navbar-item-separate">
                    <i class="fa-solid fa-book-open"></i>
                    <a href="/trang-chu">Trang chủ</a>
                </li>
                <li class="connect-tag">
                    <span class="connect-tag-item">Kết nối</span>
                    <a href="https://www.facebook.com/Hoangphuc2808/" target="_blank" class="connect-tag-icon connect-tag-icon-fb">
                        <i class="fa-brands fa-facebook"></i>
                        <div class="connect_qr_code_fb">
                            <img src="../../public/img/qr_code.jpg" alt="QR Code" class="qr_img_fb">
                        </div>
                    </a>
                    <a href="https://github.com/ngphuc2808/book_store" target="_blank" class="connect-tag-icon connect-tag-icon-gh">
                        <i class="fa-brands fa-github"></i>
                        <div class="connect_qr_code_gh">
                            <img src="../../public/img/qr_code_gh.jpg" alt="QR Code" class="qr_img_gh">
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="navbar-list list-2">
                <li class="navbar-item">
                    <i class="fa-solid fa-clipboard-question"></i>
                    <a href="#">Hỗ trợ</a>
                </li>
                <li class="navbar-item navbar-item-check">
                    <a href="/trang-dat-hang/lich-su-don-hang">
                        <i class="fa-solid fa-receipt"></i>
                    </a>
                    <a href="/trang-dat-hang/lich-su-don-hang">Kiểm tra đơn hàng</a>
                    <ul class="check-order">
                        <li class="check-order-header">Đơn hàng của bạn</li>
                        <li class="check-order-list">
                            <ul>
                                <li class="check-order-item check-order-content-unclicked">
                                    <a href="/assets/Interface/Check-order.html">
                                        <img src="https://img.abaha.vn/photos/origin/83-1586781803-myphamohui-lgvina.png" alt="">
                                        <div class="check-order-content">
                                            <p class="check-order-code">
                                                Mã đơn hàng:
                                            </p>
                                            <p class="check-order-name">
                                                Tên sản phẩm:
                                            </p>
                                            <p class="check-order-price">
                                                Giá tiền:
                                            </p>
                                            <p class="check-order-date">
                                                Ngày đặt hàng:
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li class="check-order-item check-order-content-unclicked">
                                    <a href="#">
                                        <img src="https://img.abaha.vn/photos/origin/83-1586781803-myphamohui-lgvina.png" alt="">
                                        <div class="check-order-content">
                                            <p class="check-order-code">
                                                Mã đơn hàng:
                                            </p>
                                            <p class="check-order-name">
                                                Tên sản phẩm:
                                            </p>
                                            <p class="check-order-price">
                                                Giá tiền:
                                            </p>
                                            <p class="check-order-date">
                                                Ngày đặt hàng:
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li class="check-order-item check-order-content-unclicked">
                                    <a href="#">
                                        <img src="https://img.abaha.vn/photos/origin/83-1586781803-myphamohui-lgvina.png" alt="">
                                        <div class="check-order-content">
                                            <p class="check-order-code">
                                                Mã đơn hàng:
                                            </p>
                                            <p class="check-order-name">
                                                Tên sản phẩm:
                                            </p>
                                            <p class="check-order-price">
                                                Giá tiền:
                                            </p>
                                            <p class="check-order-date">
                                                Ngày đặt hàng:
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li class="check-order-item check-order-content-unclicked">
                                    <a href="#">
                                        <img src="https://img.abaha.vn/photos/origin/83-1586781803-myphamohui-lgvina.png" alt="">
                                        <div class="check-order-content">
                                            <p class="check-order-code">
                                                Mã đơn hàng:
                                            </p>
                                            <p class="check-order-name">
                                                Tên sản phẩm:
                                            </p>
                                            <p class="check-order-price">
                                                Giá tiền:
                                            </p>
                                            <p class="check-order-date">
                                                Ngày đặt hàng:
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li class="check-order-item check-order-content-unclicked">
                                    <a href="/assets/Interface/Check-order.html">
                                        <img src="https://img.abaha.vn/photos/origin/83-1586781803-myphamohui-lgvina.png" alt="">
                                        <div class="check-order-content">
                                            <p class="check-order-code">
                                                Mã đơn hàng:
                                            </p>
                                            <p class="check-order-name">
                                                Tên sản phẩm:
                                            </p>
                                            <p class="check-order-price">
                                                Giá tiền:
                                            </p>
                                            <p class="check-order-date">
                                                Ngày đặt hàng:
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li class="check-order-item check-order-content-unclicked">
                                    <a href="/assets/Interface/Check-order.html">
                                        <img src="https://img.abaha.vn/photos/origin/83-1586781803-myphamohui-lgvina.png" alt="">
                                        <div class="check-order-content">
                                            <p class="check-order-code">
                                                Mã đơn hàng:
                                            </p>
                                            <p class="check-order-name">
                                                Tên sản phẩm:
                                            </p>
                                            <p class="check-order-price">
                                                Giá tiền:
                                            </p>
                                            <p class="check-order-date">
                                                Ngày đặt hàng:
                                            </p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="check-order-footer">
                            <a href="/trang-dat-hang/lich-su-don-hang">Xem tất cả</a>
                        </li>
                    </ul>
                </li>
                {{#if lcIsAuthenticated}}
                    <form id="formLogout" action="/dang-xuat" method="post"></form>
                    <li class="navbar-item show-info info-user">
                        <i class="fa-solid fa-user"></i>
                        <label>
                            <b>Xin chào, {{lcAuthUser.name}}!</b>
                            <i class="fa-solid fa-sort-down"></i>
                        </label>
                        <ul>
                            <li><a href="/thong-tin-ca-nhan/{{lcAuthUser._id}}">Thông tin cá nhân</a></li>
                            <li><a href="javascript: $('#formLogout').submit();">Đăng xuất</a></li>
                        </ul>
                    </li>
                {{else}}
                    <li class="navbar-item navbar-item-separate">
                    <i class="fa-solid fa-user"></i>
                        <label for="input-modal-register" onclick="showFormRegister()">
                            <b>Đăng ký</b>
                        </label>
                    </li>
                    <li class="navbar-item">
                        <label for="input-modal-login" onclick="showFormLogin()">
                            <b>Đăng nhập</b>
                        </label>
                    </li>
                {{/if}}
            </ul>
        </nav>
        <div class="row header-content">
            <div class="header-logo-2 pointer">
                <a href="/trang-chu">
                    <img src="../../public/img/logo_page2.JPG" alt="" class="height-100 width-100">
                </a>
            </div>
            <label for="input-nav-mobile" class="header-menu pointer">
                <span class="icon-menu" href="#">
                    <i class="fa-solid fa-bars"></i>
                </span>
            </label>
            <input type="checkbox" hidden name="" id="input-nav-mobile">
            <label for="input-nav-mobile" class="nav-overlay" onclick="hiddenNXB()"></label>
            <nav class="nav-mobile">
                <label for="input-nav-mobile" class="nav-close" onclick="hiddenNXB()">
                    <i class="fa-solid fa-xmark"></i>
                </label>
                <ul class="nav-mobile-list">
                    {{#if lcIsAuthenticated}}
                        <li class="nav-mobile-list-nxb show-i-user">
                            <label for="mobile-admin" class="nav-mobile-link">
                                <i class="fa-solid fa-user icon-admin"></i>
                                <b>Xin chào, {{lcAuthUser.name}}!</b>
                                <i class="fa-solid fa-sort-down"></i>
                            </label>
                            <input type="checkbox" hidden id="mobile-admin">
                            <ul class="nav-nxb-list">
                                <li class="nav-nxb-item"><a class="nav-nxb-item-name" href="javascript: $('#formLogout').submit();">Đăng xuất</a></li>
                            </ul>
                        </li>
                    {{/if}}
                    <li class="nav-mobile-list-nxb"><a href="/trang-chu" class="nav-mobile-link">Trang chủ</a></li>
                    <li class="nav-mobile-list-nxb"><a href="/thong-tin-ca-nhan/{{lcAuthUser._id}}" class="nav-mobile-link">Thông tin cá nhân</a></li>
                    <li class="nav-mobile-list-nxb"><a href="/gio-hang" class="nav-mobile-link">Giỏ hàng</a></li>
                    <li class="nav-mobile-list-nxb"><a href="/danh-sach-yeu-thich" class="nav-mobile-link">Sản phẩm yêu thích</a></li>
                    
                    <li class="nav-mobile-list-nxb">
                        <label for="mobile-nxb" class="nav-mobile-link">Nhà xuất bản</label>
                        <input type="checkbox" hidden id="mobile-nxb">
                        <ul class="nav-nxb-list">
                            <li class="nav-nxb-item">
                                <a class="nav-nxb-item-name" href="#">
                                    Kim Đồng
                                </a>
                            </li>
                            <li class="nav-nxb-item">
                                <a class="nav-nxb-item-name" href="#">
                                    Giáo Dục
                                </a>
                            </li>
                            <li class="nav-nxb-item">
                                <a class="nav-nxb-item-name" href="#">
                                    Hồng Đức
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-mobile-list-tg">
                        <label for="mobile-tg" class="nav-mobile-link">Tác giả</label>
                        <input type="checkbox" hidden id="mobile-tg">
                        <ul class="nav-nxb-list">
                            <li class="nav-nxb-item">
                                <a class="nav-nxb-item-name" href="#">
                                    Oda
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-mobile-list-tg">
                        <label for="mobile-cat" class="nav-mobile-link">Danh mục</label>
                        <input type="checkbox" hidden id="mobile-cat">
                        <ul class="nav-nxb-list">
                            <li class="nav-nxb-item">
                                <a href="#" class="nav-nxb-item-name">Kinh tế</a>
                            </li>
                            <li class="nav-nxb-item">
                                <a href="#" class="nav-nxb-item-name">Văn học</a>
                            </li>
                            <li class="nav-nxb-item">
                                <a href="#" class="nav-nxb-item-name">Tâm lý - Kĩ năng sống</a>
                            </li>
                            <li class="nav-nxb-item">
                                <a href="#" class="nav-nxb-item-name">Ngoại ngữ</a>
                            </li>
                            <li class="nav-nxb-item">
                                <a href="#" class="nav-nxb-item-name">Tiểu thuyết</a>
                            </li>
                            <li class="nav-nxb-item">
                                <a href="#" class="nav-nxb-item-name">Tiểu sử - Hồi ký</a>
                            </li>
                            <li class="nav-nxb-item">
                                <a href="#" class="nav-nxb-item-name">Giáo khoa - Tham khảo</a>
                            </li>
                            <li class="nav-nxb-item">
                                <a href="#" class="nav-nxb-item-name">Sách thiếu nhi</a>
                            </li>
                            <li class="nav-nxb-item">
                                <a href="#" class="nav-nxb-item-name">Chuyên ngành</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="header-search">
                <input class="" type="text" name="" id="" placeholder="Bạn cần tìm sách gì?">
                <i class="search-btn fa-solid fa-magnifying-glass"></i>
                <div class="history-find">
                    <h4 class="history-find-heading">Lịch sử tìm kiếm</h4>
                    <ul class="history-find-list">
                        <li class="history-find-item">
                            <a href="#">Bút bi</a>
                        </li>
                        <li class="history-find-item">
                            <a href="#">Bút chì</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-hotline pointer">
                <a class="icon-hotline" href="#">
                    <i class="fa-solid fa-headset"></i>
                </a>
                <a class="number-phone" href="#">
                    <span>0906391823</span>
                </a>
            </div>
            <div class="header-basket pointer">
                <a class="icon-basket" href="/gio-hang">
                    <i class="fa-solid fa-basket-shopping"></i>
                    <span class="header-basket-notice">
                        3
                    </span>
                </a>
                <a class="basket-text" href="/gio-hang">Giỏ hàng</a>
            </div>
            {{#if lcIsAuthenticated}}
                <div class="header-user pointer hello-user"></div>
            {{else}}
                <div class="header-user pointer">
                    <button onclick="showFormLogin()" class="icon-user">
                        <i class="fa-solid fa-user"></i>
                    </button>
                </div>
            {{/if}}
        </div>
    </div>
    <div class="list-category w-100 bc-white">
        <div class="content-section">
            <div class="row content-categories">
                <ul class="content-categories-list">
                    <li class="list-item list-item-nxb list-item-separate">
                        <span class="list-item-title" href="#">
                            <i class="icon-navbar fa-solid fa-bars"></i>
                            <p class="pull-right">NXB - Tác giả</p>
                        </span>
                        <ul class="nxb-tg-list">
                            <li>
                                <span>Nhà xuất bản</span>
                                <ul class="nxb-list">
                                    <li class="nxb-item">
                                        <a class="nxb-item-name" href="#">
                                            <i class="fa-solid fa-caret-right"></i> Kim Đồng
                                        </a>
                                    </li>
                                    <li class="nxb-item">
                                        <a class="nxb-item-name" href="#">
                                            <i class="fa-solid fa-caret-right"></i> Giáo Dục
                                        </a>
                                    </li>
                                    <li class="nxb-item">
                                        <a class="nxb-item-name" href="#">
                                            <i class="fa-solid fa-caret-right"></i> Hồng Đức
                                        </a>
                                    </li>
                                </ul> 
                            </li>
                            <li>
                                <span>Tác giả</span>  
                                <ul class="tg-list">
                                    <li class="nxb-item">
                                        <a class="nxb-item-name" href="#">
                                            <i class="fa-solid fa-caret-right"></i> Oda
                                        </a>
                                    </li>
                                </ul>    
                            </li>
                        </ul>

                    </li>
                    <li class="list-item list-item-separate">
                        <span class="list-item-title" href="#">
                            <p>Kinh tế</p>
                        </span>
                    </li>
                    <li class="list-item list-item-separate">
                        <a class="list-item-title" href="#">
                            <p>Văn học</p>
                        </a>
                    </li>
                    <li class="list-item list-item-separate">
                        <a class="list-item-title" href="#">
                            <p>Tâm lý - Kĩ năng sống</p>
                        </a>
                    </li>
                    <li class="list-item list-item-separate">
                        <a class="list-item-title" href="#">
                            <p>Ngoại ngữ</p>
                        </a>
                    </li>
                    <li class="list-item list-item-separate">
                        <a class="list-item-title" href="#">
                            <p>Tiểu thuyết</p>
                        </a>
                    </li>
                    <li class="list-item list-item-separate">
                        <a class="list-item-title" href="#">
                            <p>Tiểu sử - Hồi ký</p>
                        </a>
                    </li>
                    <li class="list-item list-item-separate">
                        <a class="list-item-title" href="#">
                            <p>Giáo khoa - Tham khảo</p>
                        </a>
                    </li>
                    <li class="list-item list-item-separate">
                        <a class="list-item-title" href="#">
                            <p>Sách thiếu nhi</p>
                        </a>
                    </li>
                    <li class="list-item">
                        <a class="list-item-title" href="#">
                            <p>Chuyên ngành</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>