{{> header}}
<div id="container">
    <div class="content-section">
        <div class="row user-container">
            {{#each this.user}}
                <div class="user-container-left">
                    <div class="user-content">
                        <div class="user-avatar">
                            <img src="../../{{avatar}}" alt="">
                        </div>
                        <div class="user-name">
                            <p>{{name}}</p>
                        </div>
                    </div>
                </div>
                <div class="user-container-right">
                    <div class="user-info-content">
                        <div class="user-header">
                            <p class="user-title">Thông tin của bạn</p>
                        </div>
                        <div class="border-product"></div>
                        <div class="user-info">
                            <form id="formUpdateInfo" action="/trang-thong-tin" class="form-info" method="post" enctype="multipart/form-data">
                                <input type="hidden" id="_id" name="_id" placeholder="Id" class="control-form" value="{{_id}}">
                                <label for="user-info-mail">
                                    <p>Email</p>
                                    <input id="user-info-mail" name="email" disabled type="email" value="{{email}}">
                                </label>
                                <label for="user-info-phone">
                                    <p>Số điện thoại</p>
                                    <input id="user-info-phone" name="phone" disabled type="text" value="{{phone}}">
                                </label>
                                <label for="user-info-name">
                                    <p>Họ tên</p> 
                                    <input id="user-info-name" name="name" type="text" placeholder="{{name}}" value="{{name}}">
                                </label>
                                <label for="user-info-dob">
                                    <p>Ngày sinh</p>
                                    <input id="user-info-dob" name="dob" type="text" placeholder="{{dob}}" value="{{dob}}">
                                </label>
                                <label for="user-info-address">
                                    <p>Địa chỉ</p>
                                    <input id="user-info-address" name="address" type="text" placeholder="{{address}}" value="{{address}}">
                                </label>
                                <label for="user-info-message">
                                    <p>Giới thiệu</p>
                                    <textarea id="user-info-message" name="detail" placeholder="{{detail}}"aria-invalid="true" aria-required="true">{{detail}}</textarea>
                                </label>
                                <label for="custom-file-upload" class="filupp avt-img">
                                    <span class="filupp-file-name js-value">Ảnh đại diện</span>
                                    <input type="file" name="avatar" id="custom-file-upload"/>
                                </label>
                                <button type="submit" class="update-info">Cập nhật</button>
                            </form>
                            <div class="form-icon-detail">
                                <p>Thông tin liên lạc</p>
                                <div class="icon-info">
                                    <div class="info-address">
                                        <i class="fa-solid fa-location-dot"></i>
                                        <p>{{address}}</p>
                                    </div>
                                    <div class="info-phone">
                                        <i class="fa-solid fa-phone"></i>
                                        <p>{{phone}}</p>
                                    </div>
                                    <div class="info-mail">
                                        <i class="fa-solid fa-envelope"></i>
                                        <p>{{email}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>

{{> modal}}

{{> footer}}
